<h1 class="container bg-dark text-white text-cnter my-4 py-4">ngIf show = {{show}}</h1>
<div class="container">
  <button class="btn btn-warning" (click)="show=!show">Acción</button>
  <p class="text-info" *ngIf="show; else showDos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis exercitationem consequuntur error voluptas animi, laborum. Nesciunt et tempora voluptatem natus esse, alias quo rerum adipisci quisquam repellendus, culpa eum.</p>

  <ng-template #showDos>
    <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni illo ab omnis expedita cum nemo sunt, fugit dolorum. Deleniti vel laudantium nihil quam officiis voluptatum expedita ipsam necessitatibus vero voluptates.</p>
  </ng-template>
</div>

<h1 class="container bg-dark text-white text-cnter my-4 py-4">[ngClass]</h1>
<div class="container">
  <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
  <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>

  <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis exercitationem consequuntur error voluptas animi, laborum. Nesciunt et tempora voluptatem natus esse, alias quo rerum adipisci quisquam repellendus, culpa eum.</p>
  <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni illo ab omnis expedita cum nemo sunt, fugit dolorum. Deleniti vel laudantium nihil quam officiis voluptatum expedita ipsam necessitatibus vero voluptates.</p>
</div>

<h1 class="container bg-dark text-white text-cnter my-4 py-4">[ngFor]</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">TIPO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">EDAD</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animales; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{animal.tipo}}</td>
        <td>{{animal.nombre}}</td>
        <td>{{animal.edad}}</td>
      </tr>
    </tbody>
  </table>

  <ul *ngFor="let curso of cursos">
    <li>{{curso}}</li>
  </ul>
</div>
